@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font from publics folder */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #181e4b;
  --primary-rgb: #181e4b;
  --secondary: #150d22;
  --secondary-rgb: 21, 13, 34;
  --tetriary: #4b5cf8;
  --tetriary-rgb: 75, 92, 248;
  --quaternary: #636685;
  --quaternary-rgb: 99, 102, 133;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary: #181e4b;
    --primary-rgb: rgb(24, 30, 75);
    --secondary: #150d22;
    --secondary-rgb: 21, 13, 34;
    --tetriary: #4b5cf8;
    --tetriary-rgb: 75, 92, 248;
    --quaternary: #636685;
    --quaternary-rgb: 99, 102, 133;
    --quinary: #f9f7fe;
    --quinary-rbg: 249, 247, 254;
  }
}

h1 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #69c6fd,
    rbga(0, 0, 0, 0)
  );
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.mySticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}
